<div fxFlex='80' class="container" fxLayout='column'>
    <div fxFlex>
        
    </div>
    <div fxFlex>

    <mat-card>
        <mat-card-header>
            <h1>About us</h1>
        </mat-card-header>
        <mat-divider></mat-divider> <br>
        <mat-card-content>
            <p>
                Welcome to Dream Creams, <br> <br>
                    
                    Dream Creams is an Ice cream parlour, concentrated on serving the world class
                best ice creams with a consideration regarding flavor and sense of taste.
                " Each Ice cream is made considering the flavor profile first." With this hands-on
                methodology, we hope to change the manner in which the individuals eat and consider
                this nostalgic treat, by giving their completely unique experience and valuable feedback.
            
                We hope that you'll enjoy our products as much as we enjoy offering them to you.
            </p>
            <p>
                Sincerely,<br>
                <b>Surya Pavan Kumar</b> ( Front End Designer & Developer, API Developer & Architect of this project) <br> <br>
                Follow me at :  <a style="text-decoration: none;" mat-button color='primary' target="blank" href="https://github.com/pavan-code">Github</a>
                                <a style="text-decoration: none;" mat-button color='primary' target="blank" href="https://www.linkedin.com/in/surya-pavan-kumar-anguluri-412344192/">LinkedIn</a>
            </p>

        </mat-card-content>
    </mat-card> <br>
    <mat-card>
        <mat-card-header>
            <h2>Technologies & tools used in this project</h2>
        </mat-card-header>
        <mat-divider></mat-divider> <br>
        <mat-card-content>
            <p>1. HTML 5</p>  
            <p>2. CSS 3 </p>  
            <p>3. Typescript @3.8.3 </p> 
            <p>4. Angular @9.1.4 </p>
            <p>5. Json server @0.16.1  </p>
        </mat-card-content>
    </mat-card>
<!-- <p>
Architecture used: MVC <br>
Techonologies & tools used in this project: <br>
    1. HTML 5  <br>
    2. CSS 3   <br>
    3. Typescript @3.0.1    <br>
    4. Angular @9.0.1  <br>
    5. Json server @4.5.6  <br>
</p> -->
    </div>
</div>