mat-grid-tile {
    /* display: flexbox; */
    width: 500px;
    /* flex-direction: column; */
    border: 1px solid;
}
mat-grid-tile img {
    position: absolute;
    left: 0;
    width: 280px;
    height: inherit;
    /* margin: 5px; */
    border-right: 1px solid;
}
.details {
    position: absolute;
    left: 320px;
    margin: 5px;
    height: auto;
}
.details h2 {
    margin: 2px;
}
input {
    width: 70px;
}


