mat-grid-tile {
    /* display: flexbox; */
    width: 100px;
    /* flex-direction: column; */
    /* border: 0.5px solid; */
}
mat-grid-tile img {
    position: absolute;
    left: 0;
    width: 280px;
    height: inherit;
    /* margin: 5px; */
    border-right: 1px solid;
}
.details {
    position: absolute;
    left: 320px;
    margin: 5px;
    height: auto;
}
span {
    font-size: 20px;
    margin: 0 7px 0 0;
}

.details h2 {
    margin: 5px;
}
input {
    width: 50px;
}
mat-card {
    min-width: 300px;
    max-width: 300px;
    /* width: 410px; */
    margin: 20px;
}
mat-card-content {
    text-align: center;
}
mat-card:hover {
    box-shadow: 2px 0px 20px 2px gray;
}
img {
    max-width: 300px;
    height: 200px;
    /* background-size: cover; */
}
.dishes {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: repeat(2, 50px);

}