.full-width {
    width: 98%;
}

.mat-button {
    padding: 0px 3px;
    margin: 0px 2px;
}

i {
    cursor:pointer;
    padding:10px 12px 8px;
    background:rgb(223, 223, 223);
    border-radius:50%;
    display:inline-block;
    margin:0 0 15px;
    color:#aaa;
    transition:.2s;
  }
  .like {
      position: absolute;
      width: 50px;
      margin-right: 0;
      /* left: 200px; */
      right: 10px;
  }

  i:hover {
    color:#666;
  }
  
  i:before {
    font-family:fontawesome;
    content:'\f004';
    font-style:normal;
  }
  
  span.liked {
    position: absolute;
    bottom:70px;
    left:0;
    right:0;
    visibility: hidden;
    transition:.6s;
    z-index:-2;
    font-size:2px;
    color:transparent;
    font-weight:400;
  }
  
  i.press {
    animation: size .4s;
    color:#e23b3b;
  }
  
  span.press {
    bottom:120px;
    font-size:14px;
    visibility:visible;
    animation: fade 2s;
  }
  
  @keyframes fade {
    0% {color: transparent;}
    50% {color:#e23b3b;}
    100% {color: transparent;}
  }
  
  @keyframes size {
    0% {padding:10px 12px 8px;}
    50% {padding:14px 16px 12px;  
      margin-top:-4px;}
    100% {padding:10px 12px 8px;}
  }