<div class="container" 
fxLayout='row' 
fxLayout.sm = 'column'
fxLayout.xs = 'column'
fxLayoutAlign.gt-md="space-around center"
fxLayoutGap="10px" 
fxLayoutGap.xs="0" >

    <div fxFlex="45">
        <div fxFlex *ngIf = "dish" fxLayout='column'>
            <h1>Dish details</h1>
            <mat-card fxFlex fxLayout.xs='column'>
                <mat-card-header>
                    <mat-card-title>
                        <h2>{{dish.name | uppercase}} </h2>
                    </mat-card-title>
                </mat-card-header>
                <img matCardImage src="{{'http://localhost:3000/' + dish.image}}" alt="">
                <mat-card-content>
                    <p>{{dish.description}} </p>
                    <h3>Price</h3>
                    <h1>{{dish.price | currency: 'INR'}}</h1>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left"></span></button>
                    <button color='primary' mat-raised-button>Like</button>
                    <!-- <button mat-raised-button>Share</button> -->
                    <button mat-button (click) = 'goBack()'>Back</button>
                    <!-- <span class="flex-spacer"></span> -->
                    <button mat-button (click) ="addToCart(dish.id)">Add to cart</button>
                    <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right"></span></button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div fxFlex [hidden] = 'dish'>
            <mat-spinner></mat-spinner><h4>Loading . . . Please wait</h4>
        </div>
    </div>

    <div fxFlex = '40' *ngIf = "dish" fxLayout='column'>
        <!-- <mat-list>
            <h2>Comments</h2>
            <mat-list-item *ngFor = "let comment of dish.comments">
                <h4 matLine>{{comment.comment}} </h4>
                <p matLine>{{comment.rating}} Stars </p>
                <p matLine>-- {{comment.author}} {{comment.date | date}} </p>
            </mat-list-item>
        </mat-list> -->
        <div fxFlex *ngIf = "commentForm.valid">
            <h2>Comment preview</h2>
            <mat-list>
                <mat-list-item>
                    <h4 matLine>{{commentForm.value.comment}} </h4>
                    <p matLine>{{commentForm.value.rating}} Stars</p>
                    <p matLine>--{{commentForm.value.author}} </p>
                </mat-list-item>
            </mat-list>
        </div>
        <div fxFlex>
            <h2 >Leave a comment</h2>
            <form novalidate [formGroup]="commentForm" (ngSubmit) = "submit()">
                <mat-form-field class="full-width">
                    <input type="text" matInput formControlName = "author" placeholder="Name">
                    <mat-error *ngIf = "commentErrors.author">
                        {{commentErrors.author}}
                    </mat-error>
                </mat-form-field> <br>
                <mat-slider formControlName = "rating" min='1' max='5' step='1' value='5' tickInterval='1' thumbLabel></mat-slider> <br>
                <mat-form-field class="full-width"> 
                    <textarea name="" placeholder="Your comment .." matInput formControlName = "comment" id="" cols="30" rows="10"></textarea>
                    <mat-error *ngIf = "commentErrors.comment">
                        {{commentErrors.comment}}
                    </mat-error>
                </mat-form-field>
                <button mat-raised-button color='primary' type="submit" [disabled] = "commentForm.invalid">Submit</button>
            </form>
        </div>

    </div>
</div>

<div class="container" 
fxLayout='row' 
fxLayout.sm = 'column'
fxLayout.xs = 'column'
fxLayoutGap="10px" 
fxLayoutGap.xs="0" fxFLex ='50' *ngIf = 'dish'>
    <mat-list>
        <h2>Comments</h2>
        <mat-list-item *ngFor = "let comment of dish.comments">
            <h4 matLine>{{comment.comment}} </h4>
            <p matLine>{{comment.rating}} Stars </p>
            <p matLine>-- {{comment.author}} {{comment.date | date}} </p>
        </mat-list-item>
    </mat-list>
</div>