/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; font-family: cursive; }
body { margin: 0; font-family: cursive; }

.flex-spacer {
    flex: 1 1 auto;
  }

  button, mat-grid-tile {
    outline: none !important;
    outline-style: none !important;
}
/* :root {
  filter: invert(100%);
} */
 iframe, img, html {
      filter: invert() hue-rotate(180deg) brightness(100%) contrast(100%);
  }