<div class="login" *ngIf = "isLogin" [hidden]="!isHidden">
    <h2 mat-dialog-title>Login</h2>
    <mat-dialog-content>
        <!-- {{ login.value | json}} -->
        <form [formGroup] = "login" novalidate>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" formControlName="username">
                <mat-error *ngIf = "formErrors.username">
                    <small>{{formErrors.username}} </small>
                </mat-error>
            </div>
    
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" formControlName='password'>
                <mat-error *ngIf = "formErrors.password">
                    <small>{{formErrors.password}} </small>
                </mat-error>
            </div>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button [disabled]='login.invalid' (click)="logIn()" mat-raised-button color='primary'><mat-icon>login</mat-icon> Login</button>
    </mat-dialog-actions>
    <br>
    <h4>Don't have an account? <button mat-button color='primary' (click)="sign()">Create an account?</button></h4>
</div>
<div class="signup" *ngIf = "!isLogin" [hidden]="!isHidden">
    <h2 mat-dialog-title>Sign Up</h2>
    <mat-dialog-content>
        <form [formGroup] = "signup">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" formControlName = 'username'>
                <mat-error *ngIf = "formErrors1.username">
                    <small>{{formErrors1.username}} </small>
                </mat-error>
            </div>

            <div class="form-group">
                <label for="mailid">Mail ID</label>
                <input type="text" class="form-control" formControlName = 'mailid'>
                <mat-error *ngIf = "formErrors1.mailid">
                    <small>{{formErrors1.mailid}} </small>
                </mat-error>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" formControlName = 'password'>
                <mat-error *ngIf = "formErrors1.password">
                    <small>{{formErrors1.password}} </small>
                </mat-error>
            </div>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button [disabled]='signup.invalid' (click)="register()" mat-raised-button color='primary'>Sign Up</button>
    </mat-dialog-actions>
     <br>
    <h4>Already have an account? <button mat-button color='primary' (click) = "log()">Login</button></h4>
</div>

<div class="spinner" [hidden]="isHidden">
    <mat-spinner style="margin: 0 auto;" [diameter]='100' strokeWidth='2'></mat-spinner>
    <h2 style="margin: 10px 60px;">You are almost there.. hold on</h2>
</div>